body {
    font-family: "Roboto", "Calibri", "Arial", sans-serif;
    margin: 0px;
    min-width: 100vh;
    display:flex;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
}

.page {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-width: 100vh;
    flex-grow: 2;
}

/* header */
header, .section1 {
    background-color: #1F2937;
    color:#F9FAF8;
    display: flex;
    flex-grow: 1;
}

header {
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.headlogo {
    font-weight: 900;
    font-size: 24px;
    margin-left: 100px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0px;
    margin-right: 100px;
}

.headerlinks:link {
    color: #E5E7EB;
    text-decoration: none;
}

.headerlinks:visited {
    color: #E5E7EB;
    text-decoration: none;
}

/* hero/section 1 */
.section1
{
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    height: 400px;
    align-items: center;
}

.section1left {
    display:flex;
    flex-wrap:wrap;
    max-width: 450px;
}

.section1left h1 {
    font-size: 48px;
    font-weight: 900;
    margin:0px;
}

.section1left p {
    font-size: 18px;
    color: #E5E7EB;
}

.section1left button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: none;
    padding: 8px 30px;
    font-size: 16px;
    font-weight: bold;
}

/* section 2 */
.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.section2 h2 {
    padding: 8px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.cards {
    display:flex;
    flex-direction: row;
    gap: 40px;
}

.imgcard {
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 150px;
    color: darkslategray;
}

.imgcard img {
    border-radius: 16px;
    height: 150px;
    width: 150px;
}

/* section 3/quote */
.section3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

#quote {
    font-style:italic;
    font-size:36px;
    color:#1F2937;
    font-weight: 300;
    width: 800px;
    padding:8px;
    margin:0px;
}

#sig {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    padding:8px;
    margin:0px;
}